.container{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title_theme{
    font-size: 72px;
}

.first_para_header, .second_para_header{
    font-size: 48px;
    width: 100%;
}

.first_paragraph, .second_paragraph{
    font-size: 28px;
    width: 100%;

}

.first_para_header{
    float: left;
}

.second_para_header{
    text-align: right;
}

.first_paragraph{
    float: left;
    text-align: left;
}

.second_paragraph{
    text-align: right;
}